<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <section class="section full-height">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <!-- Logo -->
                    <div class="has-text-centered">
                        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" width="150" height="150">
                    </div>

                    <!-- Titolo form -->
                    <h1 class="title has-text-centered">Login Form</h1>

                    <!-- Codice form -->
                    <form action="{{ url_for('auth.login') }}" method="POST">
                        <!-- Input Username -->
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input {% if 'That username was not found.' in messages %} is-danger {% endif %}" 
                                       type="text" name="username" placeholder="Username" required />
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                {% if 'That username was not found.' in messages %}
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                {% endif %}
                            </p>
                            {% if 'That username was not found.' in messages %}
                                <p class="help is-danger">That username was not found.</p>
                            {% endif %}
                        </div>

                        <!-- Input Password -->
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input {% if 'The password you entered is incorrect.' in messages %} is-danger {% endif %}" 
                                       type="password" name="password" placeholder="Password" required />
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                {% if 'The password you entered is incorrect.' in messages %}
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                {% endif %}
                            </p>
                            {% if 'The password you entered is incorrect.' in messages %}
                                <p class="help is-danger">The password you entered is incorrect.</p>
                            {% endif %}
                        </div>

                        <!-- Bottoni -->
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button class="button is-link" type="submit">Submit</button>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('home.homepage') }}" class="button is-link is-light">Go to Homepage</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Collegamento al tuo JavaScript -->
    <script src="{{ url_for('static', filename='generic.js') }}"></script>
</body>
</html>
