{% extends 'base.html' %}

{% block title %}Your profile{% endblock %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-half">
        <!-- Icona Utente -->
        <h1 class="title has-text-centered"><span class="icon"><i class="fa-solid fa-user fas fa-2x"></i></span></h1>

        <!-- Messaggi di errore -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    <ul>
                        {% for category, message in messages %}
                            <li class="notification {% if category == 'error' %} is-danger
                                                {% elif category == 'success' %} is-success
                                                {% elif category == 'info' %} is-info {% endif %}">
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}


        <!-- Dati sessione  -->
        <div class="box has-text-centered">
            Placeholder
        </div>
    </div>
</div>
{% endblock %}
